/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-color: #E9E4E3;
  color: #000000; /* text color */
  font-family: ITC Cheltenham Std Light Condensed;
}

h2 {
  font-family: Roc Grotesk Bold Condensed
}

/* change the navbar panel */
li a {
  background-color: #000000; /* background color */
  color: white; /* text color */
}

.navbar {
  background-color: #000000;
}

 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}